.rowContainer {
	margin: 10px;
}

.productContainer {
	height: 360px;
	display: inline-block;
}

.product {
	border-style: solid;
	padding: 10px;
}

.productList {
	display: block;
}

.addToCartButton {

}

.noListStyle {
	list-style-type: none;
}

.grayBackground {
	background-color: #ccc;
}

.inline {
	display: inline-block;
}

#navbar {
	background-color: green;
	margin-top: 0px;
}

#backgroundGray {
	background-color: #cccccc;
	height: auto;
}

#productImage {
	width: 225px;
	height: 225px;
}

#shoppingCart {
	float: right;
	margin-right: 7%;

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: gray;
}